.productpage{
    @apply flex relative;
    min-height: calc(100vh - 4.5rem);
    height: 772px;
}

.productpage .productpage__left{
    @apply flex flex-col py-8 gap-12 relative;
    width: 57%;
}

.productpage .productpage__left .productpage__left__info{
    @apply flex flex-col gap-5 mt-44;
    height: 144px;
}

.productpage .productpage__left .productpage__left__info .productpage__left__info__title{
    @apply text-6xl font-bold;
    line-height: 5rem;
    letter-spacing: 0px;
}



.productpage .productpage__left .productpage__left__info .productpage__left__info__price{
    @apply text-5xl;
}

.productpage .productpage__left .productpage__left__info .productpage__left__info__desc{
    @apply max-w-lg tracking-wide text-xl text-gray-600;
}

.productpage .productpage__left .productpage__left__info .productpage__left__info__addbtn{
    @apply max-w-2xl absolute top-52 right-24 w-20 h-20 bg-red-500 rounded-full text-white font-black text-xl tracking-wide flex justify-center items-center;
    font-family: monospace;
    transition: all 0.6s cubic-bezier(0.41, 1.63, 0.75, 0.84);
}

.productpage .productpage__left .productpage__left__info .productpage__left__info__addbtn.popup_animation{
  @apply scale-0 ;
}

.productpage .productpage__left .productpage__left__size{
    @apply flex flex-col gap-4;
    height: 100px;
}

.productpage .productpage__left .productpage__left__size .productpage__left__size__title{
    @apply text-xl font-fantasy tracking-wider;
}

.productpage .productpage__left .productpage__left__size .productpage__left__size__select{
    @apply flex gap-4 items-center;
}

.productpage .productpage__left .productpage__left__size .productpage__left__size__select__btn{
    @apply w-10 h-10 rounded-full border-black border-solid border flex justify-center items-center text-xl;
}

.productpage .productpage__left .productpage__left__size .productpage__left__size__select__guide{
    @apply font-bold text-gray-400;
}

.productpage .productpage__left .productpage__left__carousel {
    @apply flex gap-4 absolute bottom-8;
    left: 10rem;
}

.productpage .productpage__left .productpage__left__carousel .productpage__left__carousel__imgcontainer{
    @apply h-52 w-36 overflow-hidden opacity-0;
    height: 208px;
}

.productpage .productpage__left .productpage__left__carousel .productpage__left__carousel__imgcontainer__img{
    @apply w-full h-full bg-cover bg-no-repeat bg-center transition-transform duration-500 hover:scale-125 origin-top;
    transition-timing-function: cubic-bezier(0.36, 0.01, 0.2, 1);
    height: 125%;
}

.productpage .productpage__left .productpage__left__carousel .productpage__left__carousel__imgcontainer__img1{
    @apply bg-slate-500;
    background-image: url('../public/assets/images/model1.jpg');
}

.productpage .productpage__left .productpage__left__carousel .productpage__left__carousel__imgcontainer__img2{
    @apply bg-slate-500;
    background-image: url('../public/assets/images/model2.jpg');
}

.productpage .productpage__left .productpage__left__carousel .productpage__left__carousel__imgcontainer__img3{
    @apply bg-slate-500;
    background-image: url('../public/assets/images/model3.jpg');
}

.productpage .productpage__left .productpage__left__carousel .productpage__left__carousel__imgcontainer__img4{
    @apply bg-slate-500;
    background-image: url('../public/assets/images/model4.jpg');
}

.productpage .productpage__left .productpage__left__carousel .productpage__left__carousel__morebtn__icon{
    @apply text-4xl;
}

.productpage .productpage__right{
    @apply flex flex-col justify-end gap-12 absolute top-0 bottom-0 right-0 overflow-x-visible overflow-y-clip;
    width: 43%;
}

.productpage .productpage__right__imgcontainer{
    @apply absolute inset-0;
}

.productpage .productpage__right__imgcontainer__modelpic{
    @apply absolute bottom-0 left-3/4 opacity-0;
    z-index: 60;
    bottom: -75px;
    width: 35rem;
    aspect-ratio: 0.666;
}

.productpage .productpage__right__imgcontainer__modelpic.initial_modelpic{
    width: 31rem;
    transform: translateX(-33rem);
}

.productpage .modelpic__active{
    transform: translateX(-50%);
    animation: show-in 0.15s linear forwards;
    animation-delay: 0.20s;
}

@keyframes show-in {
    0%{
        @apply left-3/4 opacity-100;
    }

    100%{
        @apply opacity-100 left-1/2;
    }
}

.productpage .modelpic__passive{
    @apply left-1/2 opacity-100;
    animation: show-out 0.25s linear forwards;
}

@keyframes show-out {

    0%{
        @apply left-1/2 opacity-100;
    }
    100%{
        @apply left-3/4 opacity-0;
    }
}

.productpage .productpage__right__imgcontainer__modelcirclemain{
    @apply absolute z-50 left-4 bottom-0 aspect-square rounded-full;
    background: #dce1ca;
    width: 43rem;
}

.productpage .productpage__right__imgcontainer__modelcirclemain.move_circle_right{
    left: -23rem;
}

.productpage .productpage__right__imgcontainer__modelcirclesecondary{
    @apply absolute z-40 left-4 bottom-0 aspect-square rounded-full;
    background: #d5dcba69;
    z-index: 40;
    width: 35rem;
}

.productpage .productpage__right__imgcontainer__modelcirclesecondary.move_circle_right{
    left: -23rem;
}

.productpage .productpage__right__imgcontainer__modelcirclesecondary2{
    @apply absolute z-30 -left-8 bottom-20 aspect-square rounded-full;
    background: #d5dcba69;
    width: 35rem;
}

.productpage .productpage__right__imgcontainer__modelcirclesecondary2.move_circle_right{
    left: -24rem;
}

.productpage .productpage__right__imgcontainer__modelcirclesecondary3{
    @apply absolute z-20 left-4 bottom-36 aspect-square rounded-full;
    background: #d5dcba69;
    width: 35rem;
}

.productpage .productpage__right__imgcontainer__modelcirclesecondary3.move_circle_right{
    left: -18rem;
}

.productpage .productpage__right__imgcontainer__modelcirclesecondary4{
    @apply absolute z-10 left-32 bottom-32 aspect-square rounded-full;
    background: #d5dcba69;
    width: 35rem;
}

.productpage .productpage__right__imgcontainer__modelcirclesecondary4.move_circle_right{
    left: -23rem;
}

.productpage .productpage__right__imgcontainer__bladeleaf{
    @apply absolute -left-8 aspect-square rotate-45 w-12;
    z-index: 70;
    bottom: 23rem;
    animation: spin 4s infinite linear;
    transition: all 0.6s cubic-bezier(0.41, 1.63, 0.75, 0.84);
}

.productpage .productpage__right__imgcontainer__bladeleaf.popup_animation{
  scale: 0;
}

.productpage .productpage__right__imgcontainer__curvyarrowleft{
    @apply absolute -right-20 bottom-4 aspect-square rotate-12 w-36;
    z-index: 70;
}

.productpage .productpage__right__imgcontainer__curvyarrowleft.animate_toleft{
    @apply w-0 bottom-12 -right-32;
    transition: all 0.4s linear;
}

.productpage .productpage__right__imgcontainer__curvyarrowup{
    @apply absolute -left-20 aspect-square rotate-12 w-36;
    z-index: 70;
    bottom: 38rem;
  transition: all 0.4s linear;
}

.productpage .productpage__right__imgcontainer__curvyarrowup.animate_toleft{
  @apply w-0 left-0;
  bottom: 34rem;
}

.productpage .productpage__right__imgcontainer__filledcircle{
    @apply absolute left-28 aspect-square rotate-12 w-6;
    z-index: 70;
    bottom: 34rem;
    animation: spin-rev 8s linear infinite forwards;
    transition: all 0.6s cubic-bezier(0.41, 1.63, 0.75, 0.84);
}

.productpage .productpage__right__imgcontainer__filledcircle.popup_animation{
  scale: 0;
}

@keyframes spin-rev {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: -360deg;
    }
}

.productpage .productpage__right__imgcontainer__hollowcircle{
    @apply absolute aspect-square rotate-12 w-6;
    z-index: 70;
    left: 33rem;
    bottom: 43rem;
    animation: spin 8s infinite linear;
    transition: all 0.6s cubic-bezier(0.41, 1.63, 0.75, 0.84);
}

.productpage .productpage__right__imgcontainer__hollowcircle.popup_animation{
  scale: 0;
}

.productpage .productpage__right__imgcontainer__ribbon{
    @apply absolute aspect-square rotate-90 w-16;
    right: -3rem;
    z-index: 70;
    bottom: 28rem;
    transition: all 0.6s cubic-bezier(0.41, 1.63, 0.75, 0.84);
}


.productpage .productpage__right__imgcontainer__ribbon.popup_animation{
  scale: 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}